server:
  address:     ":8000"
  openapiPath: "/api.json"
  swaggerPath: "/swagger"

logger:
  level : "all"
  stdout: true

database:
  default:
    link:   "mysql:root:123456@tcp(127.0.0.1:3306)/nft_entity"
    debug:  true
    timeMaintainDisabled: true

# CLI.
gfcli:
  gen:
    dao:
      - link:            "mysql:root:123456@tcp(localhost:3306)/nft_entity"
        tables:          "nft_entity"
        jsonCase:        "Snake"
        descriptionTag:  true
